<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806781852992-fko2q5gfvk0oii2165iku19sd7abtv8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806781852992-fko2q5gfvk0oii2165iku19sd7abtv8r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>806781852992-k7sbamt942bm0atnmoejr0pn8cg1ualt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlXaHTtlCYyIcTX3zDId5v2qKm8Wc0vUM</string>
	<key>GCM_SENDER_ID</key>
	<string>806781852992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabolaurito.cd-leonesa-app</string>
	<key>PROJECT_ID</key>
	<string>cdleonesa-ff6a7</string>
	<key>STORAGE_BUCKET</key>
	<string>cdleonesa-ff6a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806781852992:ios:9d223c67a958b6fac12ea5</string>
	<key>DATABASE_URL</key>
	<string>https://cdleonesa-ff6a7-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>